.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  FlexCard  */

.card-container {
  display: flex;
  flex-direction: row;
  width: 540px;
  height: 180px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ececec;
  padding: 3px;
  align-items: center;
}

.image-container{
  width: 180px;
  background-image:url("./building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
  background-position: center center;
}

.content-container {
 width: 360px;
 height: 180px;
 overflow: hidden;
 padding: 7px;
}

.description-container > p {
  text-align: left;

}

.title-container  > h4 {
  margin: 3px;
}

@media only screen and (max-width: 600px) {
  .card-container{
    flex-direction: column;
    height: 360px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .image-container {
    width: 100%;
  }
  .content-container{
    width: 90%;
    margin: auto;
  }

 .title-container  > h4 {
    text-align: left;
 }
}


